@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
	display: block;
	height: 100%;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.containner{
	
    height: 570px;

}

.form-style  {
	display: inline-grid;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.form-style input{
	
	width: 425px;
}
.form-style lable{
	
	margin-top: 29px;
	margin-bottom: auto;
}